@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    
    
    font-weight: 300;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}
/*  Criei um cabeçalho só pra fixar o botão do tema escuro*/

header label {
    
    background: #f1aa02;
   display: inline-flex;
    margin-left: 5px;
  
}


/*  tema escuro*/
:root {
    --body-bg: #fafafa;
    --body-color: #555;
    --link-color: #222;
    --link-color-hover: #ec5840;
  }

.dark-mode:root {
  --body-bg: #212529;
  --body-color: #fff;
  --link-color: #dee2e6;
  --link-color-hover: #3cc368;
}

  body {
    background-color: var(--body-bg);
    color: var(--body-color);
  }
  
  a {
    color: var(--link-color);
  }
  
  a:hover {
    color: var(--link-color-hover);
  }

  /*  Estilo do formulario*/
main {
    width: 50vw;
    height: 100VH;
    margin-top: 10PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #f07404;
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}



main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}


main form input {
   
    width: 200px;
    height: 50px;
  
    margin-top: 4px;
    margin-left: 4px;
    outline: none;
  
    font-size: 10PX;
    border: 1px solid #040B18;
    border-radius: 8px;
}


/*  Imagens do formulario*/

section{
    box-shadow: 5px 5px 1px;
    
}
section.images {
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
}

section.images img {
    width: 100%;
}

/*  fieldsets*/
fieldset:nth-child(2){
   
    width: 100%;
}


/*  label ,os nomes dos campos,coloquei negrito e letra maiuscula*/
.container input {
    margin: 10px 10px;

    width: calc(100% - 20px);

    height: 60px;

    border: none;

   border-radius: 4px;

  

    font-size: 18px;

    font-weight: 700;

    padding: 14px 10px 0 10px;
}

.container {
    position: relative; /* relative - indica que esta posicionado em relacao a sua posicao normal */
}

.container label {
    text-transform:  uppercase;

    font-size: 14px;

    font-weight: 700;
    
   color: #808080;

    position: absolute; /* absolute - posiciona qualquer elmento de acordo com o elemento pai, deixando de fazer parte do fluxo comum do documento. */

    line-height: 70px;

    top: -7px; /* altura do texto da label */

    left: 20px;

    user-select: none;

    pointer-events: none;

    transition: 0.5s;
}

/*  Botão do formulario*/

main form input[type="submit"] {
    cursor: pointer;
    width: 35%;
    height: 10%;
    margin-top: 0.5rem;
    border: none;
    border-radius: 16px;
    background: #f07404;
    color: white;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #f1aa02;
}



  /* deixa as seções lado a lado */


  
fieldset {
    border: none;
   
    display: flex;
    
}

fieldset:nth-child(2) {
    display: flex;
    
    width: auto;
    
}





/* circulo gradiente*/
section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #fff, #FF8C00);
    clip-path: circle(50%);
    z-index: -1;
}



@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 90%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 90vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 12px;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}


.errorInput {
    border: 2px solid rgb(207, 53, 53) !important;
}